{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="max-width: 800px;">
    <div class="card">
      <div class="card-body text-center">
        <img src="/static/img/Jquimby_profile.jfif" alt="Profile Picture" class="img-fluid rounded-circle mb-3" style="max-width: 200px;">
        <h4 class="card-title">Jack Quimby</h4>
        <p class="card-text">Full Stack Developer - ML Engineer</p>
        <p class="card-text">
          <strong>Email:</strong> jack.quimby54@gmail.com<br>
          <strong>Phone:</strong> +1 (703) 403 2634<br>
          <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/jack-quimby-46b63a202/">Profile</a><br>
          <strong>Github:</strong> <a href="https://github.com/JayQuimby">Profile</a>
        </p>
      </div>
    </div>
</div>
{% endblock %}