{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h1>
        Formal Education:
    </h1>
    <hr>
    <!-- University Section -->
    <div class="row mt-4" style="padding: 20px;">
        <div class="col-md-2">
            <img src="/static/img/university-auburn.jpg" alt="Auburn University" class="img-fluid">
        </div>
        <div class="col-md-6">
            
            <h2>Auburn University</h2>
            <p> <strong>Auburn, AL - (2019-2022)</strong> </p>
            <p><strong>Degree:</strong> <u>Bachelor of Science, Computer Science</u></p>
            <p><strong>Concentration:</strong> <u>AI and Statistics</u></p>
            <p><strong>Key Classes:</strong> 
                <ul>
                    <li>Machine Learning</li>
                    <li>Aritificial Intellegence</li>
                    <li>Statistics</li>
                    <li>Evolutionary Computing</li>
                </ul></p>
            <p><strong>Skills:</strong>  <u>Research, Experimental Development, Planning</u></p>
        </div>
        <div class="col-md-4">
            <h3>Clubs and Activities</h3>
            <ul>
            <li>Ethical Hacking Club</li>
            <li>Competitive Programming Club</li>
            <li>AI Club</li>
            <li>Intramural Softball</li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- High School Section -->
    <div class="row mt-4" style="padding: 20px;">
        <div class="col-md-2">
            <img src="/static/img/gonzaga.jpg" alt="Gonzaga College High School" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Gonzaga College High School</h2>
            <p> <strong>Washington, DC - (2015-2019)</strong> </p>
            <ul>
                <li>Built a foundation for my career in computer science</li>
                <li>Learned begineer concepts: data structures and algorithms</li>
                <li>Developed a strong mathematical, scientific and moral background</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Clubs and Activities</h3>
            <ul>
            <li>Founder and Co-President of the Space Club</li>
            <li>Recipient of Excellence in Computer Science Award (2019)</li>
            <li>Varsity Baseball Pitcher</li>
            <li>Boy Scouts - <strong>Eagle Scout</strong></li>
            <li>Small iPhone Repair business</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}