{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row" style="margin: 20px;">
        <div class="col-sm-3" style="margin-top: 20px;">
            <img src="/static/img/headshot.jpg" alt="Jack Quimby" class="profile-img">
        </div>
        <div class="col-sm-9">
            <div class="row" style="margin-top: 20px;">
                <div class="col-8">
                    <h1 class="display-4">Jack R. Quimby</h1>
                </div>
                <div class="col-8">
                    <p class="lead">Computer Scientist specializing in AI and Data Engineering</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-6">
            <h2>Interests</h2>
            <p>
                My career objective is to leverage my skills and knowledge in Artificial Intelligence (AI) and Machine Learning (ML)
                to contribute towards the development of safe and effective Artificial General Intelligence. 
                I am passionate about growing as a technician and future leader in this exciting field. 
                <br><br>
                I have advanced Python skills for scripting and ML applications. 
                I also have a deep understanding of computers, algorithms, AI, ML, and evolutionary computation methods. 
                Additionally, I have experience with game engines like Unity and Godot for AI/ML training. 
                I have completed projects using techniques like web scraping and data processing.
                <br><br>
                I earned my Bachelor's degree in Computer Science from Auburn University in 2022. 
                In high school, I received an award for Outstanding Achievement in Computer Science. 
                Throughout my education, I gained expertise in AI, evolutionary algorithms, and machine learning, 
                including multi-objective optimization and representation space exploration. 
                For example, I created a KNN-Centroid algorithm to predict hiking routes and implemented reinforcement 
                learning in a 3D game environment to train agents.
                <br><br>
                My work experience includes serving as an AI Analyst at Deloitte, where I developed large language models 
                and worked on internal ML initiatives. I have also been the website manager for Stemplus, an online education company, 
                where I focused on developing VR/AR solutions for distance learning. 
                Additionally, I am the President and Co-Founder of my own organization, Ellipsium Industries LLC. 
                <br><br>
                In my free time, I enjoy playing intramural sports, video editing and animation, as well as running my investment club.
                 I have also achieved Eagle Scout rank in the Boy Scouts, which speaks to my ambition and leadership abilities.
                <br><br>
                The current project that I am working on involves creating a video game that uses Langchain to 
                serve LLM outputs as the storyline of the game. This system highly relies on prompt engineering, 
                back-end development, and game design. 
        </p>

        </div>
        <div class="col-md-6">
            <h2>Background</h2>
            <p>
                My journey in the world of computing began at the age of 12 when I delved into the intricate world of 
                hardware by researching and ordering parts to build my first computer from scratch. 
                <br><br>
                Throughout my high school years, my enthusiasm for technology only grew.
                 I honed my skills by delving into the realms of ethical hacking, jail-breaking iPhones/iPod touches, and
                  even ran a successful screen repair business at 16 years old.
                <br><br>
                My formal studies in Computer Science commenced during my junior year of high school, and I soon found myself
                 attending hackathons, where I showcased my skills. In My senior year of High School my efforts were recognized 
                 by the prestigious Outstanding Achievement in Computer Science award from my teacher.
                <br><br>
                Embarking on higher education at Auburn University, I accelerated through my studies, graduating 
                in three years with a Bachelor of Science in Computer Science. Much of my college experience was 
                spent doing hands on projects, such as creating a primitive messaging app and engaging in high-level 
                planning using the Waterfall method for application development.
                <br><br>
                Hackathon competitions became a playground for my innovative spirit. 
                I crafted a custom recommender system, employing a KNN-centroid algorithm to match users with hiking trails 
                tailored to their preferences. Additionally, I tackled Evolutionary Computing methods to optimize a Pac-Man 
                player, and I engaged into AI by developing a Tetris playing system that beat the game.
                <br><br>
                In the professional arena, my role as a Website Manager at Stemplus tasked me with optimizing and enhancing the 
                website's functionality. I delved into cutting-edge technologies like AR rooms in Mozilla hubs to create engaging 
                virtual classrooms, showcasing my skills not only in website management but also in graphic design.
                <br><br>
                My journey continued at Deloitte, where I served as an Applied AI Engineer. Working with AWS, I contributed to 
                the creation of enterprise-level LLMs and delved into the healthcare sector, developing demos and proofs of concept 
                for innovative healthcare applications. Despite my impactful contributions, unforeseen circumstances led to a change, 
                and I was laid off due to a lack of work internally.
                <br><br>
                Outside of formal commitments, my free time is a playground for innovation. I've developed an AI algorithm that 
                automatically colors black and white images, experimented with auto-encoders for image processing, and even created 
                a predictive model for NCAA Football games, complete with an interactive website for sharing insights.
            </p>
        </div>
    </div>
</div>
{% endblock %}