{% extends "base.html" %}

{% block content %}
<div class="container my-5">
  <br>
  <h1>
      University Experience
  </h1>
  <hr>
    <div class="row align-items-center">
      <div class="col-lg-2">
        <img src="/static/img/university-auburn.jpg" alt="Projects" class="img-fluid">
      </div>
      <div class="col-lg-10">
        
        <h2>Machine Learning (2022)</h2>
        <hr>
        <ul>
          <li>Explored Historical Achievements and Discoveries in Machine Learning</li>
          <li>Implemented Convolutional Neural Networks for Vision Processing and Image Generation</li>
          <li>Implemented Recurrent Neural Networks for Language Processing and Sentiment Analysis</li>
          <li>Developed 3D Asteroids Game - Team Final Project</li>
          <li>Created Q-Learning Inspired Decision Tree Algorithm</li>
          <li>Trained Algorithm to Learn Q Policy for Cumulative Reward Estimation</li>
          <li>Demonstrated Effectiveness in Dodging and Shooting Asteroids</li>
          <li>Achieved Agent Superiority Over Manual Gameplay</li>
        </ul>
        <hr>
        <h2>Statistics for Engineers (2022)</h2>
        <hr>
        <ul>
            <li>Learned how to create different kinds of statistical models</li>
            <li>Focused on theory as well as programming with R</li>
            <li>Explored Multi-Linear Regression for approximating independent variables using related factors</li>
            <li>Studied concepts such as input augmentation, sample bias, and overall data usability</li>
            <li>Applied statistical models for various prediction tasks</li>
        </ul>
        <hr>
        <h2>Evolutionary Computing (2021)</h2>
        <hr>
        <ul>
            <li>Learned how to search over arbitrary spaces to find novel solutions for problems</li>
            <li>Completed a final project to create a representation for an agent to play the classic game of Pac-Man</li>
            <li>Implemented Tree-GP for the Pac-Man project, utilizing a tree to search through mathematical representation space</li>
            <li>Utilized Tree-GP to find an optimal policy for playing the game</li>
            <li>Developed a new perspective on tackling hard optimization problems by employing biologically inspired optimization algorithms</li>
        </ul>
        <hr>
        <h2>Artificial Intelligence (2021)</h2>
        <hr>
        <ul>
          <li>Learned Regression, Multi-class Classification, Binary Classification</li>
          <li>Implemented Decision Trees, Hill Climbers, Linear Regressors, SVMs, Perceptron Algorithms</li>
          <li>Developed The classig game of Tetris from scratch</li>
          <li>Create Agents to beat Tetris for my final project</li>
          <li>Optimized Decision Policy with Hill Climb Algorithm</li>
          <li>Utilized Algorithms in Professional and Free Time Projects</li>
        </ul>
      </div>
    </div>
  <hr>
  <h1>
      Personal Experience
  </h1>
  <hr>
    <div class="row align-items-center">
      <div class="col-lg-2">
        <img src="/static/img/Ellipsium_industries_logo.png" alt="The Colorful Side" class="img-fluid">
      </div>
      <div class="col-lg-10">
          <h2>Ellipsium Industries (2023)</h2>
          <hr>
          <ul>
            <li>Co-Founded Ellipsium Industries LLC</li>
            <li>Current President of Ellipsium</li>
            <li>Investing in long term stocks and mutual funds</li>
            <li>Lead meetings and presentations</li>
            <li>Responsible for administrative functions such as finances, company structure, and paperwork</li>
          </ul>
      </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-2">
          <img src="/static/img/True Odds.png" alt="The Colorful Side" class="img-fluid">
        </div>
        <div class="col-lg-10">
            <h2>True Odds (2023)</h2>
            <hr>
            <ul>
              <li>Created custom algorithm for predicting outcomes of NCAA Football games</li>
              <li>Designed a website based on the concept of distributing AI predictions for sports</li>
              <li>Implementation in python using Flask and Pytorch</li>
              <li>Automated to predict outcomes based on new games and refresh each week</li>
            </ul>
        </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-2">
        <img src="/static/img/TheColorfulSide.png" alt="The Colorful Side" class="img-fluid">
      </div>
      <div class="col-lg-10">
          <h2>The Colorful Side (2021)</h2>
          <hr>
          <ul>
            <li>First attempt at creating a business</li>
            <li>Created custom algorithms to modify and generate pictures</li>
            <li>Designed clothing using custom generated artwork</li>
            <li>Created an online clothing store to use print-on-demand services to fulfill orders</li>
            <li>Created associated social media accounts to advertise and create branding</li>
          </ul>
      </div>
    </div>
</div>
{% endblock %}